logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

pids
*.pid
*.seed
*.pid.lock
*.map

.npm
.env

coverage
node_modules/
.idea/
dw.json
.DS_Store
test/appium/webdriver/config.json
.history
test-reports/

**/static/default/css/
**/static/default/js/
!**/bm_cloudinary/cartridge/static/default/
sitegenesis-master/
storefront-reference-architecture-master/
.vscode
package-lock.json
